/* VARS CSS */
:root {
  --header-height: 3rem;
  --font-bold: 700;
  --font-semi: 600;
  --font-normal: 400;
  --shandow: 0 1px 4px rgba(144, 144, 144, 0.15);
}
/* COLORS */
:root {
  --first-color: #4070f4;
  --second-color: #0e2431;
}

/* FONTS */
:root {
  --body-font: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica,
    Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  --big-font-size: 2rem;
  --medium-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --medium-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}
/* MARGINS */
:root {
  --m-0: 0;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}
/* Z INDEX */
:root {
  --z-back: 10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}
/* BASE  */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: var(--m-0);
}

ul {
  margin: var(--m-0);
  padding: var(--m-0);
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* CLASS CSS */
.section__title {
  position: relative;
  font-size: var(--medium-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section__title::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/* LAYOUT */
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: var(--shandow);
}

/* NAV */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 700px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    height: 100%;
    padding: 1rem;
    background-color: var(--second-color);
    transition: 0.5s;
    right: -100%;
    width: 80%;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  color: #fff;
  border-bottom: 0.2rem solid transparent;
}

.active,
.nav__link:hover {
  border-bottom: 0.2rem solid var(--first-color);
}

.nav__toogle,
.nav__logo {
  color: var(--second-color);
}

.nav__logo {
  display: flex;
  grid-gap: 0 0.5rem;
  align-items: center;
}

.nav__toogle {
  font-size: 1.5rem;
  cursor: pointer;
}

.show {
  right: 0;
}

.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}

.home__data {
  align-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.home__title-color {
  color: var(--first-color);
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1.75em 2.5em;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  transition: 0.5s;
}

.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/* ABOUT */
.about__container {
  row-gap: 2rem;
  text-align: center;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img {
  justify-self: center;
}

.about__img img {
  width: 200px;
  border-radius: 0.5rem;
}

/* SKILLS */
.skills__container {
  row-gap: 2rem;
  text-align: center;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
}

.skills__text {
  margin-bottom: var(--mb-4);
}

.skills__data {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-2);
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  width: 100%;
}

.skills__img {
  border-radius: 0.5rem;
  overflow: hidden;
}

/*WORKS*/

.work {
  text-align: center;
}
.work__container {
  row-gap: 2rem;
}

.work__img {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  transition: 1s;
  transform: scale(1);
  height: 20rem;
  max-width: 20rem;
}
.work__img img {
  cursor: pointer;
  transition: 0.8s;
  height: 100%;
}

.work__img img:hover {
  transform: scale(1.1);
}

/*CONTACT*/

.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
}

.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  background: var(--mb-4);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .section__title {
    margin-bottom: var(--mb-6);
  }

  .section__title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }

  .nav__list {
    display: flex;
    column-gap: 3rem;
    padding-top: 0;
  }

  .nav__item {
    margin-bottom: 0;
  }
  .nav__link {
    color: var(--second-color);
  }
  .nav__toogle {
    display: none;
  }

  .home {
    height: 100vh;
  }

  .home__data {
    align-self: end;
  }

  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: end;
  }

  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .home__img {
    width: 457px;
    bottom: 15%;
  }

  .about__container,
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }

  .skills__img {
    width: 100%;
  }

  .about__img {
    width: 300px;
  }

  .work__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .contact__form {
    width: 360px;
  }

  .contact__container {
    justify-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home__10 {
    right: 10%;
  }
}
